/* @theme catppuccin-latte */

@import 'default';

:root {
    --ctp-rosewater: #dc8a78;
    --ctp-flamingo: #dd7878;
    --ctp-pink: #ea76cb;
    --ctp-mauve: #8839ef;
    --ctp-red: #d20f39;
    --ctp-maroon: #e64553;
    --ctp-peach: #fe640b;
    --ctp-yellow: #df8e1d;
    --ctp-green: #40a02b;
    --ctp-teal: #179299;
    --ctp-sky: #04a5e5;
    --ctp-sapphire: #209fb5;
    --ctp-blue: #1e66f5;
    --ctp-lavender: #7287fd;
    --ctp-text: #4c4f69;
    --ctp-subtext1: #5c5f77;
    --ctp-surface0: #ccd0da;
    --ctp-base: #eff1f5;
    --ctp-mantle: #e6e9ef;
    --ctp-crust: #dce0e8;
}
 
section {
    font-family: "Arial", "Hiragino Maru Gothic ProN";
    font-size: 32px;
    padding: 40px;
    
    background-color: var(--ctp-base);
    color: var(--ctp-text);
}

section.title h1 {
    color: var(--ctp-blue);
    font-family: "Arial", "Hiragino Kaku Gothic ProN";
    font-size: 60px;
    text-align: center;
}

section.slides {
    padding-top: 90px;
    padding-left: 40px;
    padding-right: 40px;
}

section.slides h1:nth-of-type(1) {
    color: var(--ctp-base);
    background-color: var(--ctp-teal);
    border-top: 0.3em solid var(--ctp-sky);
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 1.5em;
    text-indent: 0.5em;
}

section.slides h2 {
    font-size: 32px;
    color: var(--ctp-blue);
    position: absolute;
    left: 50px; top: 90px;
}

.callout {
    position: relative;
    padding: 20px;
    border: 2px solid var(--ctp-red);
    border-radius: 15px;
    background-color: var(--ctp-surface0);
    font-size: 36px;
    color: var(--ctp-text);
}

.callout::before {
    position: sticky;
    content: attr(icon);
    top: 5px;
    left: 5px;
    font-size: 36px;
    color: var(--ctp-sky);
}


/* コードブロック */
pre {
    background-color: var(--ctp-mantle);
    border: 1px solid var(--ctp-surface0);
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    overflow-x: auto;
}

code {
    font-family: 'Menlo', 'Monaco', 'Courier New', monospace;
    color: var(--ctp-text);
}

:not(pre) > code {
    background-color: var(--ctp-surface0);
    color: var(--ctp-peach);
    padding: 0.2em 0.4em;
    border-radius: 4px;
    font-size: 0.9em;
}

/* 表形式 */
th {
    background-color: var(--ctp-mantle);
    color: var(--ctp-mauve);
    font-weight: bold;
    padding: 15px 20px;
    text-align: left;
    border-bottom: 2px solid var(--ctp-surface1);
}

td {
    padding: 12px 20px;
    color: var(--ctp-subtext0);
    border-bottom: 1px solid var(--ctp-surface0); 
}

tr:last-child td {
    border-bottom: none;
}

tr:nth-child(odd) td {
    background-color: rgba(var(--ctp-mantle), 0.85); /* Surface0を透過させて重ねる */
}

tr:nth-child(even) td {
    background-color: var(--ctp-base);
}

th[align="center"], td[align="center"] {
    text-align: center;
}

th[align="right"], td[align="right"] {
    text-align: right;
}
